data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep

results/*
figures/*
!results/.gitkeep
!figures/.gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.ipynb_checkpoints/
.DS_Store
Thumbs.db
